@import '../core/variables';

.movies {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  list-style-type: none;
  color: #e6dcb1;

  @media (min-width: 500px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style-type: none;
    color: #e6dcb1;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  &__item {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #7e121d;
    border: 4px solid #ceac5c;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #e6dcb1;
    letter-spacing: 0.5px;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    :hover {
      // background-image: url('../assets/snowflake.png');
      background-color: $lower-red;
    }
  }
}

.empty__movies {
  display: inline-block;
  border-radius: 10px;
  padding: 15px;
  color: white;
  background-color: #7e121d;
  font-size: 20px;
}
