.movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    list-style-type: none;
    color: #E6DCB1;


    &__item {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        background-color: #7E121D;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}