@import 'core/reset';
@import 'core/variables';

body {
  background-image: url('../assets/snowflake.png');
  background-size: auto;
  background-position: repeat;
  background-color: $xmas-green;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  letter-spacing: 0.5px;
}

.page__container {
  color: $cream;
}

.header {
  font-size: 24px;
  padding: 30px;
  text-align: center;
  color: #CEAC5C;
}

.movies__container {
  padding: 0 30px 30px 30px;
  text-align: center;
}
